@import "variable.styl"

body, html
  line-height 1
  font-family Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
  -webkit-tap-highlight-color transparent
  color $color-text
  min-width 1200px
  height 100%
  background-color $color-mark
object
  position absolute
  z-index -1