
.element-headerRowClassName th{
  background-color: #DAE5F2 !important;
  border-right-color: #C3CDD9 !important;
  color: #333;
}

.blue .grayElement-headerRowClassName th{
  background-color: #b8cbe6 !important;
  border-right-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
  color: #333;
}
.blue .el-table__row.grayElement-headerRowClassName td{
  background-color: #dae5f2 !important;
  border-right-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
  color: #333;
}
.unit.el-input--mini{
  width: 70px;
}
.el-date-editor.startdate.el-input{
  width: 160px;
}
.grayElement-headerRowClassName th{
  background-color: #e6e6e6 !important;
  border-right-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
  color: #333;
}
.el-table__row.grayElement-headerRowClassName td{
  background-color: #e6e6e6 !important;
  border-right-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
  color: #333;
}


.element-custom-input input{
  padding-left: 8px !important;
  height: 24px !important;
  line-height: 24px !important;
}
.element-custom-textarea textarea{
  padding: 0 10px !important;
  border: none;
  resize: none;
}
.element-login-input input{
  padding: 0 40px !important;
  height: 45px !important;
  line-height: 45px !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.element-login-input input:focus{
  border-color: #1b60a9 !important;
}
.element-login-check{
  height: 45px !important;
  line-height: 45px !important;
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #1b60a9 !important;
    border-color: #1b60a9 !important;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #1b60a9 !important;
  }
}
.el-menu--horizontal > .el-menu-item.is-active{
  background-color: #3978c8 !important;
}
.element-notice-radio{
  .el-radio-group{
    height: 35px !important;
    line-height: 35px !important;
  }
  .el-radio-button{
    margin-right: 10px !important;
    height: 35px !important;
  }
  .el-radio-button__inner{
    padding: 0 26px !important;
    height: 35px !important;
    line-height: 35px !important;
    border-radius: 2px !important;
    border: none !important;
    color: #666 !important;
    background-color: #dbdbdb !important;
  }
  .el-radio-button__orig-radio:checked+.el-radio-button__inner{
    color: #FFF !important;
    background-color: #4897f9 !important;
    box-shadow: none !important;
  }
}

.downSelct{
  .el-input{
    input{
      height:30px !important;
      line-height: 30px !important;
    }
  }
}
.mini{
  .el-input{
    input{
      height:24px !important;
      line-height: 24px !important;
      font-size: 12px;
      width: 160px;
    }
  }
}
.medium{
  .el-input{
    input{
      height:28px !important;
      line-height: 28px !important;
      font-size: 12px;
    }
  }
}
.auditlist{
  .el-checkbox-button{
    width: auto !important;
    margin-top: 5px;
    margin-right: 10px;
  }
  .el-checkbox-button.is-checked{
    border: none !important;
    .el-checkbox-button__inner{
      float:left;
      border: none !important;
      color: #fff;
      background-color: #4897f9 !important;
    }
  }
  .el-checkbox-button--small .el-checkbox-button__inner{
    float: left;
    border-radius: 0px !important;
    background: #e6e6e6;
    color: #999;
    border: none !important;
  }
  margin-bottom: 0 !important;
  .el-form-item__label{ width: 200px !important; font-size: 12px}
  .is-checked{
    color: #fff !important;
    background-color: #2873d0 !important;
    border:1px solid #2873d0 !important;
  }
  .el-radio__input.is-checked+.el-radio__label{
    color: #fff;
    font-size: 12px !important;
  }
  .el-radio--medium.is-bordered{
    width: 90px !important;
    text-align: center;
    background: #e6e6e6;
    color: #999;
    font-size: 12px !important;
    border-radius: 0;
    font-size: 12px;
    height: 30px !important;
    line-height: 30px !important;
    padding: 0;
    margin-right: 0;
  }
  .el-radio, .el-radio--medium.is-bordered .el-radio__label{
    font-size: 12px !important;
  }
  .el-radio__label{
    font-size: 12px;
    padding: 0;
  }
  .el-radio__inner{
    display: none;
  }
  .el-radio.is-bordered+.el-radio.is-bordered{
    text-align: center;
  }
}
.symptom{
  .el-form-item__label{
    width:auto !important;
    text-align: left;
    font-size: 14px;
    color: #4D4D4D;
    height: 30px !important;
    line-height: 30px !important;
    padding-right: 4px;
  }
  .element-select-box.small {
    .el-checkbox-button {
      margin-bottom: 0px !important;
      margin-top: 3px !important;
      height: 24px !important;
      line-height: 24px !important;
      .el-checkbox-button__inner {
        height: 24px !important;
        line-height: 24px !important;
        float:left;
        padding: 0 6px !important;
      }
    }
  }
  .el-checkbox-button--mini{
    .el-checkbox-button__inner{
      float:left;
      border:0 !important;
      background: #edecf1;
      color: #999999;
      border-radius: 0 !important;

    }
  }
}

.element-appointment-radio{
  .el-radio-button__inner{
    padding: 5.5px 10px !important;
  }
}
.element-button{
  color: #FFF !important;
  border-color: #4897F9 !important;
  background-color: #4897F9 !important;
  &:hover{
    border-color: rgb(109, 171, 245) !important;
    background-color: rgb(109, 171, 245) !important;
  }
  &:active{
    border-color: rgb(45, 99, 165) !important;
    background-color: rgb(45, 99, 165) !important;
  }
}
.sort-input{
  .mini{
    .el-input{
      input{
        width: 76px !important;
      }
    }
  }
}

.operation{
  .custom-columnButton{
    width: 28px;
    height: 28px;
    color: #00bafa;
    float:left;
  }
}
.element-select-box{
  &.mini{
    .el-radio-button{
      margin: 5px 5px 5px 0!important;
      height: 22px !important;
    }
    .el-radio-button__inner{
      padding: 0 10px !important;
      height: 22px !important;
      line-height: 22px !important;
      border-radius: 2px !important;
      border: none !important;
      font-size: 12px !important;
      color: #666 !important;
      background-color: #E6E6E6 !important;
    }
    .el-radio-button__orig-radio:checked+.el-radio-button__inner{
      color: #FFF !important;
      background-color: #2873D0 !important;
      box-shadow: none !important;
    }

    .el-checkbox-button{
      margin: 5px 5px 5px 0!important;
      height: 22px !important;
    }
    .el-checkbox-button__inner{
      padding: 0 10px !important;
      height: 22px !important;
      line-height: 22px !important;
      border-radius: 2px !important;
      border: none !important;
      color: #666 !important;
      font-size: 12px !important;
      background-color: #E6E6E6 !important;
    }
    .el-checkbox-button.is-checked .el-checkbox-button__inner{
      color: #FFF !important;
      background-color: #2873D0 !important;
      box-shadow: none !important;
    }
  }
  &.small{
    .el-radio-button{
      margin: 5px 5px 5px 0!important;
      height: 30px !important;
    }
    .el-radio-button__inner{
      padding: 0 10px !important;
      height: 30px !important;
      line-height: 30px !important;
      border-radius: 2px !important;
      border: none !important;
      color: #666 !important;
      background-color: #E6E6E6 !important;
    }
    .el-radio-button__orig-radio:checked+.el-radio-button__inner{
      color: #FFF !important;
      background-color: #2873D0 !important;
      box-shadow: none !important;
    }

    .el-checkbox-button{
      margin: 5px 5px 5px 0!important;
      height: 30px !important;
    }
    .el-checkbox-button__inner{
      padding: 0 10px !important;
      height: 30px !important;
      line-height: 30px !important;
      border-radius: 2px !important;
      border: none !important;
      font-size: 12px;
      color: #666 !important;
      background-color: #E6E6E6 !important;
    }
    .el-checkbox-button.is-checked .el-checkbox-button__inner{
      color: #FFF !important;
      background-color: #2873D0 !important;
      box-shadow: none !important;
    }
  }
}


.element-dialog{
  .el-tabs__nav-wrap.is-left{
    background-color: #f0f0f0 !important;
  }
}

.mini{
  .el-input{
    input{
     width: 120px !important;
    }
  }
}
.max{
  .el-form-item__label{
    width: 330px !important;
  }
}

.el-button.text{
  color: #666666 !important;
}
#editor>div:last-child{
  height: 160px !important;
}

#editor .w-e-text p{
  margin 0
}

.editorText p{
  line-height 20px !important
}
.articleHtmlContent{
  width 90%;
  margin 0 auto
}
.articleHtmlContent{
  font-size 12px !important
}
.articleHtmlContent .article-title h3{
  height auto !important
  margin-top 10px !important
  font-size 16px !important;
  line-height 26px !important;
  height auto !important
}
.articleHtmlContent .article-title label{
  font-size 12px
}
.inputColor.el-select .el-input__inner{
  color #398af6 !important
}
.chat-msg-content-text img{
  height 30px !important
}
